--- 
layout: default 
--- 

{% include header.html %}

    <main>

        <!-- Section: Programs -->
        <section class="programs js-scroll-target" id="programs">
            <div class="wrapper">
                <p class="text-large"><strong>Find your degrees of interest</strong> from one of our many programs of study offered 100% online.</p>
                <p>We are committed to helping you achieve your goals and complete your degree as quickly as possible. One of our Admissions Counselors is ready to assist you with this process.</p>
            </div>
        </section>


        <!-- Section: Maximize Time -->
        <section class="maximize-time" id="maximize-time">
            <div class="wrapper">
                <h2>Maximize Your Time</h2>
                <p>Since 1971, Liberty’s mission as a university has been to provide a world-class educational experience with a solid Christian foundation.</p>
                <p>We provide the same quality course offerings online as on our residential campus. As the world’s largest Christian university, we stand by you as you grow in your career and faith.</p>
                <ul>
                    <li><strong>100% online programs</strong> at associate, bachelor’s, master’s, and doctoral level.*</li>
                    <li><strong>No standardized testing.</strong></li>
                    <li><strong>Transfer up to 90 credits</strong> into a bachelor’s degree program.</li>
                    <li><strong>Up to 50% of your master’s degree can be transferred</strong> in to help you get the most out of your hard work and maximize the credit you previously earned.</li>
                </ul>
                <p class="text-small">* excludes licensure, certification, and some doctoral programs</p>
                <a class="js-toggle" data-bodyclass="is-modal-active" data-modal="video">{% svg /assets/img/icon-video-button.svg width=36 height=36 %} Watch the Video</a>
            </div>
        </section>


        <!-- Section: Why Liberty -->
        <section class="why-liberty js-scroll-target" id="why-liberty">
            <div class="wrapper">
                <h2>Why Choose Liberty University?</h2>
                <ul>
                    <li>
                        <h3>{% svg /assets/img/icon-career.svg width=42 height=32 %} Prepare for a Career</h3>
                        <p>Go from merely surviving in your current job to thriving in the career of your dreams.</p>
                    </li>
                    <li>
                        <h3>{% svg /assets/img/icon-courses.svg width=29 height=32 %} Enjoy Flexible Courses</h3>
                        <p>Complete assignments at your own pace, at a time convenient to you within each week.</p>
                    </li>
                    <li>
                        <h3>{% svg /assets/img/icon-faith.svg width=23 height=32 %} Grow in Your Faith</h3>
                        <p>Each of our programs is grounded in biblical principles, and our professors consider teaching to be more than a job – it’s their calling.</p>
                    </li>
                    <li>
                        <h3>{% svg /assets/img/icon-academic.svg width=38 height=32 %} Access Academic Support</h3>
                        <p>Access our online library, writing resources, study aids, and IT support.</p>
                    </li>
                </ul>
            </div>
        </section>


        <!-- Section: Hero Seperator -->
        <section class="hero-seperator">
            <div class="wrapper">
                <h2>Liberty’s online courses give you the ability to choose when and where you study.</h2>
            </div>
        </section>


        <!-- Section: Financing Options -->
        <section class="financing-options js-scroll-target" id="financing-options">
            <div class="wrapper">
                <h2>Financing Options</h2>
                <h3>Financial Aid</h3>
                <p>87% of all Liberty students in an online program are awarded financial aid.</p>
                <h3>Tuition Discounts</h3>
                <p>Available for:</p>
                <p>Military service members, including active duty, retired, veterans, and their spouses. Emergency Response Personnel</p>
                <h3>Corporate Tuition Assistance</h3>
                <p>Deferred – If your company reimburses you for the cost of your education, you submit your grades to your employer who pays you, and then you pay for your classes.</p>
                <h3>Other Convenient Payment Options are Available</h3>
                <p>Complete the Request Information form and speak with one of our Admissions Counselors</p>
            </div>
        </section>


        <!-- Section: Highest Regional Accreditation Available -->
        <section class="accreditation" id="accreditation">
            <div class="wrapper">
                <h2>Highest Regional Accreditation Available</h2>
                <p>As a nonprofit university, we have been pioneering distance education since 1985 and offer a unique and proven approach to online education.</p>
                <p>Along with our advanced accreditations, we also have been recognized by the following organizations for our excellence in education.</p>
                <ul>
                    <li><img src="/assets/img/accreditation-ACBSP.png" alt="" /></li>
                    <li><img src="/assets/img/accreditation-NCATE.png" alt="" /></li>
                    <li><img src="/assets/img/accreditation-2017BFVCOLLEGES.png" alt="" /></li>
                    <li><img src="/assets/img/accreditation-MFS17.png" alt="" /></li>
                    <li><img src="/assets/img/accreditation-MSFS17.png" alt="" /></li>
                </ul>
            </div>
        </section>


        <!-- Section: Rank -->
        <section class="rank" id="rank">
            <div class="wrapper">
                <img src="/assets/img/seal-gold-distinction-liberty-university.png" alt="" />
                <div class="content">Liberty University's online programs ranked in the top 10 of more than 2,100 online colleges and universities for academic quality, affordability, and accessibility.</div>
            </div>
        </section>

    </main>

    {% include widget.html %} 
    
    {% include modal.html %} 

{% include footer.html %}