<header class="site-header" role="banner">
    
    <div class="wrapper">
        
        <nav class="nav-primary" role="navigation">
            <ul>
                <li class="header-logo"><a id="js-top" href="#top">{% svg /assets/img/logo.svg width=268 height=43 class="logo" %}</a></li>
                <li><a class="js-scroll-trigger" href="#why-liberty">Why Liberty?</a></li>
                <li><a class="js-scroll-trigger" href="#financing-options">Financing Options</a></li>
            </ul>
        </nav>

        <ul class="banner">
            <li>Degrees 100% Online</li>
            <li>No Standardized Testing</li>
            <li>Transfer in up to 75% of a Degree </li>
        </ul>
        <a class="link js-scroll-trigger" href="#programs">Learn More</a>

    </div>

</header>