<section class="widget" id="widget">

    <a class="link-open js-toggle" data-bodyclass="is-widget-active">Request More Info</a>
        
    <div class="wrapper">

        <div class="widget-container">
            
            <div class="widget-form">

                <a class="link-close js-toggle" data-bodyclass="is-widget-active">{% svg /assets/img/icon-close.svg width=18 height=18 %}</a>
                <div id="widget-mount"></div>

            </div>

        </div>

    </div>

</section>