fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 700;
  margin-bottom: $small-spacing;

  &.required::after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'],
select,
select[multiple=multiple],
textarea {
  -webkit-appearance: none;
  background-color: $color-white;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: $form-font-color;
  display: block;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
  padding: 10px;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  @media (min-width: $desk-start) {
    font-size: 14px;
  }
}

.is-invalid {
  border-color: #ef4444;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
  margin-right: $small-spacing;
}

input[type='file'] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  background: $color-white url('../img/arrow-dropdown.svg') no-repeat right 10px center / 10px auto;
  padding-right: 35px;
}

.input-columns {

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  & > input,
  & > select,
  & > .input-columns {
    float: left;
    width: calc(50% - 8px / 2);
  }

  & > input:nth-child(odd),
  & > select:nth-child(odd),
  & > .input-columns:nth-child(odd) {
    margin-right: 8px;
  }
}

.text-input-description {
  font-size: 12px;
  margin: -4px 0 8px;
  display: block;
}
