.site-header {
  background: transparent url('../img/bg-hero-header.jpg') no-repeat center top / cover;
  height: calc(100vh - #{$widget-button-height});
  position: relative;

  @media (min-width: $desk-start) {
    height: calc(100vh - 150px);
  }

  &::after {
    background-color: rgba($color-black, .5);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    @media (min-width: $desk-start) {
      background-color: rgba($color-black, .5);
    }
  }

  .wrapper {
    height: 100%;
    padding-bottom: 0;
    padding-top: 40px;
    z-index: 1;

    @media (min-width: $desk-start) {
      padding-top: 50px;
    }
  }

  nav {
    margin: 0;
    position: relative;
    transition: transform .2s ease-out;
    z-index: 1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &::after {
        clear: both;
        content: '';
        display: table;
      }
    }

    li {
      align-items: center;
      box-sizing: border-box;
      display: none;
      justify-content: center;
      min-height: 50px;
      text-align: center;

      &.header-logo {
        display: block;
      }

      @media (min-width: $desk-start) {
        display: flex;
        float: left;
        width: 25%;

        &.header-logo {
          justify-content: left;
          text-align: left;
          width: 50%;
        }
      }
    }

    a {
      color: $color-white;
      display: block;
      font-size: 16px;
      line-height: 1;
    }

    .is-nav-active & {
      -webkit-animation: slideIn .5s forwards;
         -moz-animation: slideIn .5s forwards;
           -o-animation: slideIn .5s forwards;
              animation: slideIn .5s forwards;
      background-color: $color-white;
      box-shadow: 0px 4px 16px rgba($color-black, .08);
      left: 0;
      padding: $small-spacing $base-spacing;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(-110%);
      z-index: 2;

      ul {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $desk-start) {
          max-width: $desk-max;
          padding: 0 #{$widget-width + $body-gutter * 2} 0 $body-gutter;
        }

        @media (min-width: $wall-start) {
          max-width: $wall-max;
        }
      }

      a {
        color: $base-font-color;
      }
    }
  }

  .logo {
    height: 60px;
    max-width: 100%;
    width: 440px;

    path,
    rect {
      fill: $color-white;

      .is-nav-active & {
        fill: $base-font-color;
      }
    }

    @media (min-width: $desk-start) {
      width: 100%;
    }
  }

  .banner {
    background-color: rgba($color-black, .65);
    background: -webkit-linear-gradient(left, rgba($color-black, 0) 0%, rgba($color-black, .4) 20%, rgba($color-black, .4) 70%, rgba($color-black, 0) 100%);
    background:         linear-gradient(to right, rgba($color-black, 0) 0%, rgba($color-black, .4) 20%, rgba($color-black, .4) 70%, rgba($color-black, 0) 100%);
    background:    -moz-linear-gradient(left, rgba($color-black, 0) 0%, rgba($color-black, .4) 2%, rgba($color-black, .4) 70%, rgba($color-black, 0) 100%);
    box-sizing: border-box;
    color: $color-white;
    left: 0;
    list-style: none;
    margin: 0;
    padding: $base-spacing;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    li {
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      text-align: center;

      &::before {
        background: transparent url('../img/icon-checkmark.svg') no-repeat left center / 16px auto;
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 10px;
        width: 16px;;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: $desk-start) {
      left: $body-gutter;
      max-width: 450px;
      padding-right: 50px;
      right: inherit;
      transform: translateY(-50%);
      width: 90%;

      li {
        font-size: 18px;
        text-align: left;
      }
    }
  }

  .link {
    bottom: $base-spacing;
    color: $color-white;
    font-size: 14px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    &::after {
      -webkit-animation: bounce 2s infinite 2s;
         -moz-animation: bounce 2s infinite 2s;
           -o-animation: bounce 2s infinite 2s;
              animation: bounce 2s infinite 2s;
      border-radius: 0;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      content: '';
      display: block;
      height: 5px;
      left: 50%;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 100%;
      transform: translate(-50%, 0) rotate(135deg);
      width: 5px;
    }

    @media (min-width: $desk-start) {
      left: $body-gutter;
      transform: none;
    }
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-110%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    -moz-transform: translateY(-110%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideIn {
  0% {
    -o-transform: translateY(-110%);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate(-50%, 0) rotate(135deg);
  }
  40% {
    -webkit-transform: translate(-50%, 5px) rotate(135deg);
  }
  60% {
    -webkit-transform: translate(-50%, 4px) rotate(135deg);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0) rotate(135deg);
  }
  40% {
    -moz-transform: translate(-50%, 5px) rotate(135deg);
  }
  60% {
    -moz-transform: translate(-50%, 4px) rotate(135deg);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translate(-50%, 0) rotate(135deg);
  }
  40% {
    -o-transform: translate(-50%, 5px) rotate(135deg);
  }
  60% {
    -o-transform: translate(-50%, 4px) rotate(135deg);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0) rotate(135deg);
  }
  40% {
    transform: translate(-50%, 5px) rotate(135deg);
  }
  60% {
    transform: translate(-50%, 4px) rotate(135deg);
  }
}
