// Sections: All
section {
  .wrapper {
     > h2:first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

// Section: Hero
.hero {
  background-color: green;
}

// Section: Maximize Time
.maximize-time {
  background: $color-blue-light;

  svg {
    margin-right: 5px;
    position: relative;
    top: 12px;
  }
}

// Section: Why Liberty?
.why-liberty {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  li {
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 0;

    &:first-of-type {
      margin-top: 0;
    }

    @media (min-width: $desk-start) {
      float: left;
      padding-right: $base-spacing;
      width: 50%;

      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
  }

  h3 {
    margin: 0 0 $base-spacing;
  }

  svg {
    margin-right: 10px;
    position: relative;
    top: 10px;
    width: 32px;
  }

  path,
  circle {
    fill: currentColor;
  }

  .icon-affordablity path {
    stroke: currentColor;
    fill: transparent;
  }
}

// Section: Hero Seperator
.hero-seperator {
  position: relative;
  z-index: 0;

  &::after {
    background-color: rgba($color-black, .7);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;

    @media (min-width: $desk-start) {
      background-color: rgba($color-black, .7);
    }
  }

  .wrapper {
    padding-bottom: 200px;
    padding-top: 200px;
    z-index: 1
  }
}


// Section: Hero Seperator - Faith
.hero-faith {
  background: transparent url('../img/bg-faith.jpg') no-repeat top center / cover; 
}


// Section: Hero Seperator - Online Courses
.hero-online-courses {
  background: transparent url('../img/bg-hero-seperator.jpg') no-repeat top center / cover;
}

// Section: Financing Options
.financing-options {
  background-color: $color-gray-light;
}

// Section: Accreditations
.accreditation {
  ul {
    list-style: none;
    margin: $base-spacing 0 0;
    padding: 0;

    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  li {
    float: left;
    margin-right: 15px;
    width: calc(50% - 7.5px);
    
    @media (max-width: $lap-start - 1px) {
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: $lap-start) and (max-width: $desk-start - 1px) {
      width: calc(25% - 11.25px);

       &:nth-of-type(4n) {
        margin-right: 0;
      }
    }

    @media (min-width: $desk-start) {
      margin-right: 15px;
      width: calc(20% - 12px);

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }

    img {
      border: $base-border;
      border-radius: 50%;
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
    }
  }
}

// Section: Rank
.rank {
  background-color: $color-gray-light;

  img {
    display: block;
    margin: 0 auto $base-spacing;
    width: 220px;
  }

  @media (min-width: $desk-start) {
    .wrapper {
      display: table;
      min-height: (220px + $section-padding * 2);
    }

    img {
      left: $body-gutter;
      margin: 0;
      position: absolute;
    }

    .content {
      display: table-cell;
      padding-left: (220px + $small-spacing);
      vertical-align: middle;
    }
  }
}

// Section: Faith
.faith {
  background-color: $color-gray-light;
}