.tooltip {
  cursor: pointer;
  position: relative;
  top: -5px;

  &::after {
    background-color: $color-white;
    border-radius: $base-border-radius;
    bottom: 100%;
    box-shadow: 0px 4px 16px rgba($color-black, .4);
    color: $base-font-color;
    content: attr(data-tooltip);
    display: none;
    font-size: 12px;
    font-weight: 400;
    left: 50%;
    padding: $small-spacing;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 175px;
  }

  &:hover::after {
    display: block;
  }
}
